body {
    background: #ceea7b;
}

.header-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #e8c70e;
    height: 30px;
}

.header-ul > li {
    list-style: none;
    padding: 0 0 0 20px;
}

.header-ul > li > a {
    text-decoration: none;
    color: #b81bd5;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    width: 80vw;
    height: 500px;
    /*border: 1px solid red;*/
    background: blanchedalmond;
    margin: 0 auto;
}

.item-book {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 200px;
    background: #bc86ff;
    margin: 10px;
    border-radius: 8px;
}

.add-book {
    margin-left: 70%;
}

#red {
    color: #0000ff;
}

.form-search {
    display: flex;
    margin-left: 30%;
    margin-bottom: 20px;
}

.image{
    max-width: 100%;
    height: auto;
}

